#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Root password
rootpw --iscrypted $1$M52kCjTk$vRkVC78UxaURJriDf0z9a.
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info

# System timezone
timezone  Europe/Amsterdam
# Network information
network  --bootproto=static --device=eth0 --gateway=172.19.53.254 --ip=172.19.53.11 --nameserver=172.18.99.210,172.18.99.211 --netmask=255.255.255.0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=500
part swap --fstype="swap" --recommended
part /home --fstype="ext4" --size=100000
part /opt --asprimary --fstype="ext4" --grow --size=1
part / --asprimary --fstype="ext4" --size=50000

%post --nochroot
#!bin/bash
echo "Test" > /root/kickstart.log
%end

%packages
@base
@console-internet
@development
@network-file-system-client
@network-tools
@perl-runtime
@ruby-runtime
@system-management-snmp
git

%end
